main{
  display: flex;
  width: 100%;
  height: 66.9rem;
  background-color: #fffaef;
}


.search{
  width: 38rem;
  height: auto;
  background-color: #fffaef;
}
.check_box{
  display: block;
  margin: 0 auto;
  height: 3rem;
  width: 3rem;
}
.label_text{
  text-align: center;
  padding: 2rem 0 .5rem;
}
.text_box{
  width: 20rem;
  margin: 0 5rem;
}

.item_index{
  width: 100%;
  height: 3rem;
}

.item_lists{
  /* width: 100%; */
  height: auto;
  max-height: 64rem;
  overflow-y: scroll;
}

#pulldown,
#pulldown_noShop{
  position: relative;
}

.user_name,
.log_in{
  font-size:2rem;
  margin-right: 1rem;
  font-weight: 700;
}

.pulldown_menu{
  background-color: #ff9939f0;
  position: absolute;
  z-index: 1;
  top: -2.5rem;
  right: -3rem;
  width: 146%;
  height: 35rem;
}


.pulldown_list{
  padding: 2.5rem 2.5rem;
  position: relative;
}
.pulldown_list:hover{
  background-color: #fdaf66;
}
.pulldown_list.no_link:hover{
  background-color: #ff9939;
}
.overlink{
  /* リンクの範囲を広げるためのやつ */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -99.9rem;
}
.item_content{
  font-size: 2rem;
  display: flex;
}
.no_item{
  padding:10rem;
  font-size: 3rem;
  text-align: center;
}
.index_name_area{
  display: flex;
  height: 3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.index_name{
  background-color: #ffea95;
  margin: .3rem;
  box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 10%);
  border-radius: .5rem;
}
.item_data{
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 7rem;
  text-align: center;
  line-height: 6rem;
  background-color: #fffaef;
}

.item_list{
  margin-bottom :1px;
  background-color: #ffe3b9;
  margin: .3rem;
  box-shadow: 0 1rem 1rem 0 rgb(0 0 0 / 10%);
  border-radius: .5rem;
}
.shop{
  width: 25rem;
}
.name{
  width: 63rem;
}
.price{
  width: 13rem;
  padding-right: 2rem;
  text-align: right;
}
.null_area{
  width: 10rem;
  background-color: #ffea95;

}
.show_btn{
  width: 10rem;
  background-color: #ffe3b9;
}
.show_btn > a{
  display: block;
}

footer{
  margin-top: 0;
}